.test-v {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
}
:focus {
    outline: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
#contents {
    padding-top: 190px;
    font-size: 1.6rem;
    color: #231815;
    font-weight: 400;
}
.ttl07 {
    font-size: 28.8px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #222c81;
    border-bottom: #cdcdcd 1px solid;
    padding-bottom: 10px;
}
.small {
    font-size: 19.2px;
    font-size: 1.2rem;
}
.txt-block {
    display: inline-block;
}
.online_index h2,
.online_index h3,
.online_index h4 {
    font-family:
        Hiragino UD Serif W4 JIS2004,
        游明朝,
        YuMincho,
        ヒラギノ明朝 ProN W3,
        Hiragino Mincho ProN,
        HG明朝E,
        ＭＳ Ｐ明朝,
        serif;
}
.online_index #visual,
.online_index .online_main_title {
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: 30px auto;
}
.online_index .online_main_title {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: 700;
    color: #222c81;
    text-align: center;
    border-top: #222c81 1px solid;
    border-bottom: #222c81 1px solid;
    padding: 0.2em 0;
}
.pc-visible {
    display: block;
}
.sp-visible {
    display: none;
}
.online_index img {
    width: 100%;
    height: auto;
}
.online_index .online_sub_title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
    color: #222c81;
    text-align: center;
}
.online_index .online_btn {
    margin: 60px 0;
}
.online_index .online_btn a {
    position: relative;
    width: 290px;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    border-radius: 4px;
    background-color: #8e7f77;
    box-sizing: border-box;
    padding: 10px 22px;
    margin: 0 auto 12px;
}
.online_index .online_btn a:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5px 0 3.5px 6px;
    border-color: transparent transparent transparent transparent;
    border-left-color: inherit;
    vertical-align: middle;
    margin-top: -0.2em;
    margin-left: 0.5em;
}
.online_index .online_btn a:hover {
    opacity: 0.65;
}
.online_index .ttl01 {
    font-size: 2.4rem;
    color: #222c81;
}
.online_index .online_copy {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5;
    border-left: 4px solid #222c81;
    margin-left: 2em;
    padding-left: 0.5em;
}
.online_index .online_point {
    margin: 50px auto 80px;
}
.online_index .online_point li {
    width: 303px;
    float: left;
    margin-right: 30px;
}
.online_index .online_point li:last-child {
    margin-right: 0;
}
.online_index .online_pic01 {
    border-top: #cdcdcd 1px solid;
    border-bottom: #cdcdcd 1px solid;
    margin-bottom: 80px;
}
.online_index .online_pic01 .online_pic01_inner {
    margin: 13px auto 25px;
    font-size: 20.8px;
    font-size: 1.3rem;
    line-height: 1.5;
}
.online_index .online_pic01 .online_pic01_inner h4 {
    font-size: 1.6rem;
    color: #222c81;
    text-align: left;
}
.online_index .online_pic01 .online_pic01_inner li {
    width: 50%;
    float: left;
}
.online_index .online_pic01 .online_pic01_inner li:last-child h4 {
    padding-left: 60px;
    margin-top: 10px;
}
.online_index .online_pic01 .online_pic01_inner li li {
    width: 40%;
    float: left;
    margin: 0 5%;
}
.online_index .online_pic01 .online_pic01_inner li li.dummy_box {
    display: block;
    width: 20px;
}
.online_index .online_pic02 {
    margin: 0 auto 30px;
}
.online_index .online_pic02 li {
    width: 313px;
    float: left;
    margin-right: 30px;
    font-size: 22.4px;
    font-size: 1.4rem;
    line-height: 1.8;
}
.online_index .online_pic02 li:last-child {
    margin-right: 0;
}
.online_index .online_pic02_t {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    color: #222c81;
    margin-bottom: 20px;
}
.online_index .online_pic02 p {
    margin: 0;
}
.online_index .online_pic02_cap {
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: right;
    margin-bottom: 65px;
}
.online_index .online_use {
    position: relative;
    margin-bottom: 90px;
}
.online_index .online_step4.online_use {
    margin-bottom: 40px;
}
.online_index .online_use dt {
    width: 102px;
    float: left;
}
.online_index .online_use dd {
    width: 897px;
    float: left;
    margin-left: 0;
}
.online_index .online_use p {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.5;
}
.online_index .online_use::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-top: -0.5em;
    display: inline-block;
    border-top: 13px solid #222c81;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
}
.online_index .online_step4.online_use::after {
    content: none;
    position: absolute;
}
.online_index .online_use .online_use_t {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 500;
    color: #222c81;
    border-bottom: #cdcdcd 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 0;
}
.bell-btn.bell-btn_external {
    position: relative;
    display: inline-block;
}
.bell-btn.bell-btn_external:after {
    content: "\f08e";
}
.bell-btn.bell-btn_m:after,
.bell-btn:after {
    right: -25px;
}
.bell-btn:after {
    content: "\f0da";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    line-height: 1;
}
.online_index .online_cap p {
    padding: 0 10px 40px 102px;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
}
@media screen and (max-width: 640px) {
    #contents {
        padding-top: 0;
    }
    .online_index #visual {
        height: auto;
    }
    .online_index .online_main_title {
        margin: 30px auto 30px;
    }
    .pc-visible {
        display: none;
    }
    .sp-visible {
        display: block;
    }
    .online_index .online_sub_title {
        text-align: left;
    }
    .online_index .online_btn {
        margin: 40px 0;
    }
    .online_index .online_btn a {
        width: 92%;
        padding: 0.6em 13px;
        margin: 0 auto 20px;
    }
    .online_index .ttl01 {
        font-size: 2rem;
    }
    .online_index .online_copy {
        margin-left: 1.5em;
    }
    .online_index .online_point {
        margin: 30px auto 50px;
    }
    .online_index .online_point li {
        width: 86%;
        float: none;
        margin-right: 0;
        margin: 0 auto 30px;
    }
    .online_index .online_point li:last-child {
        margin-right: auto;
    }
    .online_index .online_pic01 {
        text-align: left;
        margin-bottom: 50px;
    }
    .online_index .online_pic01 .online_pic01_inner {
        width: 96%;
        margin: 30px auto 20px;
    }
    .online_index .online_pic01 .online_pic01_inner li {
        width: 100%;
        float: none;
    }
    .online_index .online_pic01 .online_pic01_inner li:last-child h4 {
        padding-left: 0;
        margin-top: 40px;
    }
    .online_index .online_pic01 .online_pic01_inner li li.dummy_box {
        display: none;
    }
    .online_index .online_pic02 {
        margin: 0 auto 30px;
    }
    .online_index .online_pic02 li {
        width: 96%;
        float: none;
        font-size: 1.3rem;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .online_index .online_pic02_cap {
        margin-bottom: 35px;
        text-align: left;
    }
    .online_index .online_use {
        margin-bottom: 65px;
    }
    .online_index .online_use .online_use_t {
        font-size: 1.8rem;
    }
    .online_index .online_use dt {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .online_index .online_use dd {
        width: 100%;
        float: none;
    }
    .online_index .online_use p {
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .online_index .online_cap p {
        padding: 0 0 40px;
        font-size: 1.3rem;
        line-height: 1.5;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
        #contents {
        padding-top: 250px;
    }
}
