<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js',
    metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image'
};
%>

<%- include('./common/_head.ejs', { conf }) %>
<%- include('../components/header/header.ejs', { conf }) %>

<main id="main" class="main" role="main">
    <h1>Lorem ipsum</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <h2>日本語</h2>
    <p>
        それも今日充分その著作学というのの時になっましな。同時に時分と附着方はけっしてわが下宿ましでなりを至るが行かならでは立脚愛するでしうて、そうにはしですなけれらしいませ。会をなるたのはきっと事実をついにましですで。別に岡田さんを思索会はっきり解剖に取り扱わで例その権利あなたか意見をとしてご区別ますまいたたが、この今は私か心個人が思っと、久原さんのものが理の何をどうも実意味と掴みが彼ら学校よりご運動を飛びようにはたして小授業がなるたろたから、よくただいま任命に思うんてしまうたものが云いだろませ。
    </p>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %>
<%- include('./common/_foot.ejs', { conf }) %>
